<section class="education" id="studies">
  <div class="education-container">
    <div class="edu-card tf">
      <img src="archivos/estudios-1.png" alt="Colegio" class="edu-logo">
      <h2>Bachillerato en Ciencias y Letras</h2>
      <p>Orientación en Gestión de Oficinas</p>
      <span class="edu-badge">2017 - 2021</span>
      <p>{{ colegio.level | percent}}</p>
    </div>

    <div class="edu-card ufm">
      <img src="archivos/estudios-2.png" alt="Universidad" class="edu-logo">
      <h2>Ingeniería en Computer Science</h2>
      <p>Actualmente en curso</p>
      <span class="edu-badge">2022 - Presente</span>
      <p>{{ universidad.level | percent}}</p>
    </div>
  </div>
</section>