<section class="project-detail" *ngIf="repo">
  <h1>{{ repo.name }}</h1>
  <p>
    {{ repo.description || 'Sin descripción disponible'}}

  </p>

 <p>
  <strong>Fecha de creación:</strong>
  {{ repo?.created_at ? (repo.created_at | date:'longDate') : 'No disponible' }}
</p>
...
<p>
  <strong>Valoración:</strong>
  <span class="stars">
    <ng-container *ngFor="let star of getStarsArray(); let i = index">
      <span [class.filled]="star">★</span>
    </ng-container>
  </span>
  ({{ repo?.stargazers_count ?? 0 }} estrellas)
</p>

  <h3>Tecnologías</h3>
  <ul>
    <li *ngFor="let lang of languages">
      {{ lang }}
    </li>
  </ul>

   <h3>Topics</h3>
    <div class="topics" *ngIf="topics.length > 0; else noTopics">
      <span class="topic-tag" *ngFor="let topic of topics">
        {{ topic }}
      </span>
    </div>

    <p>
    <strong>Valoración:</strong>
    <span class="stars">
      <ng-container *ngFor="let star of getStarsArray(); let i = index">
        <span [class.filled]="star">★</span>
      </ng-container>
    </span>
    ({{ repo.stargazers_count }} estrellas)
    </p>

<ng-template #noTopics>
  <p>No hay topics definidos</p>
</ng-template>

  <a [href]="repo.html_url" target="_blank" class="project-btn">
    Ver en GitHub
  </a>

  <br>

  <a routerLink="../" class="back-btn">
    ← Volver
  </a>
</section>