<section class="contact" id="contacts">
  <div class="contact-container">
    <div class="contact-info">
      <div class="contact-item">
        <i class="icon">📞</i>
        <span>{{ data.contacts.phone }}</span>
      </div>
      <div class="contact-item">
        <i class="icon">📍</i>
        <span>{{ data.contacts.location }}</span>
      </div>
      <div class="contact-item">
        <i class="icon">✉️</i>
        <span>{{ data.contacts.email }}</span>
      </div>

      <div class="contact-links">
      <a [href]="data.contacts.github" target="_blank">GitHub</a>
      <a [href]="data.contacts.linkedin" target="_blank">LinkedIn</a>
      </div>
    </div>

    <div class="contact-actions">
      <a href="archivos/CV.pdf" download class="download-btn">
        ⬇ Descargar CV
      </a>
    </div>
  </div>
</section>