<section class="contact" id="contacts">
  <div class="contact-container">
    <div class="contact-info">
      <div class="contact-item">
        <i class="icon">📞</i>
        <span>{{ data.contacts.phone }}</span>
      </div>
      <div class="contact-item">
        <i class="icon">📍</i>
        <span>{{ data.contacts.location }}</span>
      </div>
      <div class="contact-item">
        <i class="icon">✉️</i>
        <span>{{ data.contacts.email }}</span>
      </div>

      <div class="contact-links">
      <a [href]="data.contacts.github" target="_blank">GitHub</a>
      <a [href]="data.contacts.linkedin" target="_blank">LinkedIn</a>
      </div>
    </div>

    <div class="nasa-info" *ngIf="datosNasa">
      <h3>🚀 Foto Espacial del Día</h3>
      <img *ngIf="datosNasa.media_type === 'image'" [src]="datosNasa.url" [alt]="datosNasa.title" class="nasa-img">
      <div *ngIf="datosNasa.media_type === 'video'">
        <p>Hoy la NASA publicó un video:</p>
        <a [href]="datosNasa.url" target="_blank">Ver video en YouTube</a>
      </div>
      <p class="nasa-caption">{{ datosNasa.title }}</p>
    </div>
    
    <div class="contact-actions">
      <a href="archivos/CV.pdf" download class="download-btn">
        ⬇ Descargar CV
      </a>
    </div>
  </div>
</section>