<section class="seccion" id="personal">
  <div class="container">
    <div class="layout">
      <div class="carousel">
        <button class="btn prev" (click)="anterior()">‹</button>
        <img [src]="imagenes[indiceActual]" class="imagen" alt="Foto personal"/>
        <button class="btn next" (click)="siguiente()">›</button>
      </div>
      <div class="info">
        <h1 class="titulo">Dhidel Jyssep Osorio Arévalo</h1>
        <h6 class="subtitulo">
          Estudiante de Computer Science con interés en 
          Frontend, Backend y Data Science
        </h6>
      </div>
    </div>
  </div>
</section>
