<section class="seccion" id="skills">

  <input 
    type="text"
    placeholder="Buscar..."
    [(ngModel)]="buscador"
    class="buscador"
  />

  <div class="grid">
    <div class="columna">
      <h1 class="titulo-skills">Frontend</h1>
      <div *ngFor="let skill of filtrar(data.frontend)" class="subtitulo">
        {{ skill }}
      </div>
    </div>
    <div class="columna">
      <h1 class="titulo-skills">Backend</h1>
        <div *ngFor="let skill of filtrar(data.backend)" class="subtitulo">
        {{ skill }}
      </div>
    </div>
    <div class="columna">
      <h1 class="titulo-skills">Fundamentos</h1>
      <div *ngFor="let skill of filtrar(data.fundamentos)" class="subtitulo">
        {{ skill }}
      </div>
    </div>
  </div>
</section>
