<section class="projects" id="projects">
  <div class="projects-container">
    <div class="project-card">
      <h1 class="project-title">NXT Board</h1>
      <p class="project-desc">
        Organizador de tareas con base de datos
      </p>
        <button class="project-btn" routerLink="https://github.com/Dhidel/NXT-Board">
        Ver Proyecto
        </button>
      <div class="project-image">
        <img src="archivos/proyecto-1.png" alt="Proyecto 1">
      </div>
    </div>

    <div class="project-card">
      <h1 class="project-title">CV Personal</h1>
      <p class="project-desc">
        Portafolio web desarrollado con HTML, CSS, y Angular
      </p>
       <button class="project-btn" routerLink="https://github.com/Dhidel/CV---Desarrollo-Software">
        Ver Proyecto
        </button>   
      <div class="project-image">
        <img src="archivos/proyecto-2.png" alt="Proyecto 2">
      </div>
    </div>
  </div>
</section>